/* Use this file to add custom css to the theme. */

@media (max-width: 960px){
    .product__media-container .product__media {
        overflow-x: unset;
        height: 100% !important;
    }

    /* .product__media-item.hide__img {
        display: block !important;
        overflow: hidden !important;
    } */

    .product__chip {
        padding: 8px 6px;
        font-size: 16px;
    }

    .product__media-container.below-mobile .product__media-item, .product__media-container.below-mobile .product__media-item .media {
        overflow: hidden !important;
    }
}
